/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.big-container{
  width: 80%;  
  max-width: 1180px;
  margin: 0 auto;

  /* DEBUG */
  height: 100%;
  border: 5px dashed green;
}

.small-container{
  width: 70%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 25px;

  /* DEBUG */
  height: 100%;
  border: 5px dashed darkolivegreen;
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.col{
  width: calc(100%/3);

  /* DEBUG */
  margin-top: 300px;
  border: 5px dotted purple;
  height: 500px;
}

.col.large{
  width: 100%;
}
/* ---- */

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  /* DEBUG */
  background-color: grey;
}

.header-left{

  /* DEBUG */
  height: 50%;
  width: 500px;
  background-color: lightgray;
}

.header-right{

  /* DEBUG */
  height: 50%;
  width: 500px;
  background-color: white;
}

/* ---- */

/* MAIN */
.jumbotron{

  /* DEBUG */
  background-color: lightblue;
  height: 740px;
}

.plans{

  /* DEBUG */
  background-color: yellow;
  height: 1600px;
}

.partner{

  /* DEBUG */
  background-color: gold;
  height: 680px;
}

.business-feature{

  /* DEBUG */
  background-color: orange;
  height: 1600px;
}

.logos{

  /* DEBUG */
  background-color: orangered;
  height: 636px;
}

.try-it{

  /* DEBUG */
  background-color: red;
  height: 360px;
}

.questions{

  /* DEBUG */
  background-color: darkred;
  height: 730px;
}
/* ---- */

/* FOOTER */
footer{

  /* DEBUG */
  background-color: black;
  height: 580px;
}
/* ---- */
