/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

ul.fa-ul{
  margin-left: 20px;
}

h2{
  font-size: 2.5rem;
}

h4{
  font-size: 1.5rem;
}

/* >>> CONTAINERS */
.big-container{
  width: 80%;  
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
}

.small-container{
  width: 70%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 25px;

  /* DEBUG */
  /* height: 100%;
  border: 5px dashed darkolivegreen; */
}

/* >>> COLUMNS INSIDE CONTAINERS */
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.col{
  width: calc(100%/3);
  padding: 0 25px;
}

.col.large{
  width: 100%;
}

/* >>> BUTTONS */
.button{
  background-color: #0061FF;
  padding: 10px 20px;
  text-align: center;
  width: fit-content;
}

.button a{
  color: white;
  text-decoration: none;
}

.button.b-white{
  background-color: white;
  border: 1px solid black;
}

.button.b-white a{
  color: black;
}
/* ---- */

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  background-color: white;
  box-shadow: 0px 0px 5px lightgrey;
}

header nav li{
  display: inline-block;
  padding-left: 40px;
}

header nav li a{
  line-height: 80px;
  text-decoration: none;
  color: black;
}

.header-left, .header-right{
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.header-right .button{
  margin-left: 20px;
}
/* ---- */

/* MAIN */
/* >>> JUMBOTRON */
.jumbotron{
  margin-top: 80px;
  background-color: #B4D0E7;
  height: 740px;
}

.jumbotron h1{
  font-size: 5.2rem;
  width: 100%;
  margin-bottom: 60px;
}

.jumbotron .content-left{
  width: 30%;
  display: inline-block;
}

.jumbotron .content-left p:first-of-type{
  line-height: 1.3;
  margin-bottom: 35px;
}

.jumbotron .content-left p:last-of-type{
  margin: 35px 0px 70px;
}

.jumbotron .content-left .arrow a{
  color: black;
  text-decoration: none;
  font-size: 3rem;
}

.jumbotron img{
  width: 70%;
  position: absolute;
  right: 0;
  /* SENZA BOTTOM LAVORA MEGLIO, RESTANDO SULLA LINEA DEL TESTO IN ALTO ANCHE QUANDO RIDUCO LA VISTA DELLA PAGINA */
  /* bottom: -70px; */
}

/* >>>PLAN CHOICE */
.plan-choice h2{
  margin: 160px 0px 60px;
}

.plan-choice .selection{
  margin-bottom: 50px;
}

.selection .fa-circle-dot{
  color: #0061FF;
}

.selection .fa-circle{
  color: #D0D0D3;
  padding-left: 50px;
}

.plan-choice .col .title, .plan-choice .col .content{
  border: 1px solid #D0D0D3;
}

.plan-choice .col .content{
  border-top: none;
}

.plan-choice .col:not(.large) .content{
  height: 980px;
}

.plan-choice .col .title{
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.plan-choice .col .content{
  padding: 40px 20px;
  margin-bottom: 50px;
}

.plan-choice .col .content h4{
  margin-bottom: 25px;
}

.plan-choice .col .content span:nth-of-type(1){
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.plan-choice .col .content span:nth-of-type(2){
  display: block;
  color: #666666;
  margin-bottom: 60px;
}

.plan-choice .col .content ul li{
  margin-bottom: 25px;
}

.plan-choice .col .content .button{
  margin: 25px 0px 35px;
  width: 100%;
}

.plan-choice .col .content hr{
  width: 16%;
  border-color: #D0D0D3;
  margin: 40px 0px 50px;
}

.plan-choice .col .content h5{
  margin-bottom: 40px;
}

.plan-choice .col .content ul:last-of-type li i{
  color: #0061FF;
  font-size: 1.2rem;
}

.plan-choice .col.large .content{
  padding-top: 30px;
}

.plan-choice .col.large .content h4{
  margin-bottom: 20px;
}

.plan-choice .col.large .content span{
  margin-bottom: 60px;
}

.plan-choice .col.large .content p{
  margin-right: 30%;
}

.plan-choice .col.large .content .button{
  width: 28%;
  float: right;
  margin-top: 0;
}

/* >>>PARTNER */
.partner{
  padding: 100px 25px 150px;
}

.partner img{
  width: 60%;
}

.partner .text-content{
  float: right;
  width: 40%;
  padding: 50px;
}

.partner .text-content h4{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.partner .text-content p{
  line-height: 1.4;
  margin-bottom: 30px;
}

/* >>>BUSINESS FEATURE */
.business-feature{
  padding-bottom: 150px;
}

.business-feature .row .col{
  margin-top: 70px;
}

.business-feature .col img{
  width: 100%;
  margin-bottom: 20px;
}

.business-feature .col h4{
  margin-bottom: 40px;
}

.business-feature .col p{
  line-height: 1.3;
}

.business-feature h2:nth-of-type(2){
  margin-top: 200px;
  margin-bottom: 70px;
  width: 60%;
  font-size: 2.6rem;
  line-height: 1.5;
}

/*>>> LOGOS */
.logos{

  /* DEBUG */
  background-color: orangered;
  height: 636px;
}

.try-it{

  /* DEBUG */
  background-color: red;
  height: 360px;
}

.questions{

  /* DEBUG */
  background-color: darkred;
  height: 730px;
}
/* ---- */

/* FOOTER */
footer{

  /* DEBUG */
  background-color: black;
  height: 580px;
}
/* ---- */
