/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

ul{
  list-style: none;
}

/* >>> CONTAINERS */
.big-container{
  width: 80%;  
  max-width: 1180px;
  margin: 0 auto;

  /* DEBUG */
  height: 100%;
  border: 5px dashed green;
}

.small-container{
  width: 70%;
  max-width: 1030px;
  margin: 0 auto;
  padding: 0 25px;

  /* DEBUG */
  height: 100%;
  border: 5px dashed darkolivegreen;
}

/* >>> COLUMNS INSIDE CONTAINERS */
.row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
}

.col{
  width: calc(100%/3);

  /* DEBUG */
  margin-top: 300px;
  border: 5px dotted purple;
  height: 500px;
}

.col.large{
  width: 100%;
}

/* >>> BUTTONS */
.button{
  background-color: #0061FF;
  padding: 10px 20px;
}

.button a{
  color: white;
  text-decoration: none;
}
/* ---- */

/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: white;
  box-shadow: 0px 0px 5px lightgrey;
}

header nav li{
  display: inline-block;
  padding-left: 40px;
}

header nav li a{
  line-height: 80px;
  text-decoration: none;
  color: black;
}

.header-left, .header-right{
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.header-right .button{
  margin-left: 20px;
}
/* ---- */

/* MAIN */
.jumbotron{

  /* DEBUG */
  background-color: lightblue;
  height: 740px;
}

.plans{

  /* DEBUG */
  background-color: yellow;
  height: 1600px;
}

.partner{

  /* DEBUG */
  background-color: gold;
  height: 680px;
}

.business-feature{

  /* DEBUG */
  background-color: orange;
  height: 1600px;
}

.logos{

  /* DEBUG */
  background-color: orangered;
  height: 636px;
}

.try-it{

  /* DEBUG */
  background-color: red;
  height: 360px;
}

.questions{

  /* DEBUG */
  background-color: darkred;
  height: 730px;
}
/* ---- */

/* FOOTER */
footer{

  /* DEBUG */
  background-color: black;
  height: 580px;
}
/* ---- */
